
.mat-elevation-z8 {
  width: 100%;
  >div {
    width: fit-content;
    margin: auto;
  }
}

.toolbar-container {
  margin-bottom: 50px;
}

.todo-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.todo-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

::ng-deep {


  app-todo-item:last-child {
    .todo-box {
      border: none;
    }
  }
}

.controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
